body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*----------------------------------------*/

#wrapper {
 margin: 0 auto;
 width: 922px;
}
#header {
 width: 900px;
 color: #ccc;
 padding: 10px;
 border: 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 5px 0px;
 background: #fff;
}

#content { 
 width: 900px;
 color: #333;
 border: 1px solid #ccc;
 background:#CCC8B3;
 margin: 0px 0px 5px 0px;
 padding: 10px 10px 10px 10px;
 height: 350px;
}
#footer { 
 width: 900px;
 color: #333;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#tabs {
	float:left;
	width:100%;
	background:#fff; /*#efefef;*/
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
}

#tabs a {
	float:left;
	background:url("/images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
}

#tabs a span {
	float:left;
	display:block;
	background:url("/images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	color:#FFF;
}

#tabs a:hover {
	background-position:0% -42px;
}

#tabs a:hover span {
	background-position:100% -42px;
}