<h2>Welcome to Net Pages!</h2>
<p>You're one-stop shop for everything phone book related.</p>
<p>We got:</p>
<ul>
  <li>Phone numbers</li>
  <li>Addresses</li>
  <li>Maps</li>
  <li>Ability to share phone books</li>
  <li>All kinds of integrated network information</li>
</ul>
<p>And much, much, <b>much</b> more!</p>
<p>To get started simply register a username, activate your account, and begin adding your closest friends and enemies!</p>