<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello &lt;%= @user.name %&gt;,<br />
      You have been sent a phonebook. We don't actually know what that entails yet.</p>
    <p>In the meantime, please enjoy this worthless spam."</p>
  </body>
</html> 