<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello,<br />
      You have been sent a phonebook from <%= @user.first_name %> <%= @user.last_name %>. We don't actually know what that entails yet.</p>
    <p>In the meantime, please enjoy this worthless spam. Thanks,"</p>
    <p></p>
    <p><%= @user.first_name %> said:</p>
    <p><%= @message %></p>
    <p>-The Net Pages Team</p>
  </body>
</html> 